*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.main{
    background-color: hsl(210deg, 30%, 8%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 10vh;
    min-width:100vw;
}
button{
    font-weight: bold;
    border-radius: 25px;
    letter-spacing: 15px;
    font-size: 35px;
    height: 60px;
    color:white;
    border-color: white;
    background-color: hsl(210deg, 30%, 8%);
    transition: all 0.1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
button:hover{
    color:black;
    background-color: white;
}
.button_1{
    margin: 1vw 40px 25px 400px;
    width: 450px;
}
.button_2{
    margin: 1vw 400px 25px 40px;
    width: 450px;
}
.forms{
    border: 20px solid;
    border-color:rgb(0, 0, 0);
    border-style: none solid;
    order:1;
    flex:40;
}
.b1{
    z-index: 20;
    order: 1;
    flex:1;
}
.b2{
    z-index: 20;
    order: 2;
    flex:1;
}
.lowbar{
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 5px;
    font-size: 25px;
    order:2;
    flex:0.5;
    bottom: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    color:white;
    background-color: black;
}
.pageform{
    background: none;
    padding-top:110px;
    position: absolute;
    top:0;
    color:white;
}

#reg{
    opacity: 0;
}
#auth{
    opacity: 0;
}
.start_window{
    position: absolute;
    border-radius: 100px;
    margin-top:220px;
    margin-left:6vw;
    margin-right: 7vw;
    padding: 20px;
    font-family: 'Optima';
    width:86vw;
    height: 400px;
    border: 2px solid;
    border-color: white;
    text-align: center;
    font-size: 100px;
    color:White;
}
.authturn{
    margin-top: 30px;
    margin-left: 430px;
    width:950px;
    height: 750px;
    border: 15px solid;
    border-color: rgb(236, 199, 199);
    background: black;
}
form{
    z-index: 10;
    width:400px;
    padding-top:2px;
    padding-left: 210px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap;
    font-size: 30px;
    text-align: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
#btn{
    font-size: 25px;
    margin-left: 135px;
    margin-top: 20px;
    width: 230px;
    cursor: pointer;
}
form div input {
    font-size: 20px;
    width: 500px;
    height: 50px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
form div i{
    color:black;
    font-size: 30px;
    position: absolute;
    padding-top: 73px;
    left:660px;
}
form input[type=text]{
    padding-left:50px;
    z-index: 5;
}
.error{
    letter-spacing: 1px;
    font-size: 15px;
    color: red;
    font-weight: bold;
    white-space: nowrap;
    margin-top:2px;
}
.success{
    opacity: 0;
    padding-top: 13px;
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    color:black;
    width: 250px;
    height: 60px;
    background-color: green;
    border-radius: 0 40px 40px 0;
    white-space: nowrap;
}
.g-recaptcha{
    padding-left: 100px;
    padding-top: 10px;
}
.pinfo{
    color:white;
    text-decoration: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.pinfo:hover{
    color: blue;
}
